<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" href="/images/fav.ico" type="image/x-icon">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--  Looks like we can't translate page title-->
	<title>ПАНЕЛЬ УПРАВЛЕНИЯ KEYSCANS</title>

	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="/css/nprogress.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="/css/custom.min.css" rel="stylesheet">
	<link href="/css/patch.css" rel="stylesheet">

	<link href="/css/pnotify.css" rel="stylesheet">

	<link href="/css/icheck.css" rel="stylesheet">

	<link href="/css/switch.css" rel="stylesheet">
	<link href="/css/daterangepicker.css" rel="stylesheet">


</head>

<body class="nav-md">


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->

<script>
	function addScript(src) {
		var script = document.createElement('script');
		script.src = src;
		script.async = false;
		document.head.appendChild(script);
	}

	window.onload = function () {
		setTimeout(function () {
     // addScript('/js/jquery.min.js'); /*2.2.4*/ /*уже где-то загружается (в package.json)*/
			addScript('/js/bootstrap.min.js');
			addScript('/js/fastclick.js');
//      addScript('/js/nprogress.js');

			addScript('/js/pnotify.js');
			addScript('/js/icheck.min.js');
			addScript('/js/daterangepicker.js');
//      addScript('/js/jquery.smartWizard.js');

			// addScript('/js/custom.js'); // что-то в custom.js блокирует графики... Какой идиот засунул 4к+ строк кода в один файл??? Теперь я даже не знаю, что именно мешает... Без файла вроде все работает.
		}, 100);

	};

	$.fn.dataTable.ext.errMode = 'none';
	$.fn.dataTable.defaults.pageLength = 50;
	$.fn.dataTable.defaults.order = [];
	//  console.log($.fn.dataTable.defaults);
</script>

</body>