<template name="addBatch">
	<div class="page-title">
		<div class="title_left">
			<h3>Добавление партии товара</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<div class="input-group">
					<a href="{{pathFor 'batchesList'}}" class="btn btn-primary"><span class="fa fa-list"></span> Все партии
						товаров</a>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
<!--				<div class="x_title">
					<h2>Создать партию</h2>

					<div class="clearfix"></div>
				</div>-->
				<div class="x_content">

					<div class="form_wizard wizard_horizontal">
						<form id="form" class="form-horizontal form-label-left">

							<div class="form-group">
								<label for="name" class="control-label col-md-3 col-sm-3 col-xs-12">Название товара
								</label>
								<div class="col-xs-12 col-sm-9">
									<input type="text" id="name" class="form-control" required data-error="Заполните это поле">
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="action">Акция
								</label>
								<div class="col-xs-12 col-sm-9">

									<select id="action" class="form-control">
										{{#each actions}}
											<option value="{{_id}}">{{name}}</option>
										{{/each}}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="survey">Опрос
								</label>
								<div class="col-xs-12 col-sm-9">

									<select id="survey" class="form-control">
										<option></option> <!--пустой. Survey опционален-->
										{{#each surveys}}
											<option value="{{_id}}">{{title}}</option>
										{{/each}}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="amount" class="control-label col-md-3 col-sm-3 col-xs-12">Количество товаров
								</label>
								<div class="col-xs-12 col-sm-9">
									<input type="number" required data-error="Введите нужное количество товаров от 1 до 99999" id="amount"
												 class="form-control" min="1" value="100" max="99999" step="1">
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="actionBar">
								<label id="import-button" class="btn btn-default"><i
												class="fa fa-file-excel-o"></i> Импорт <input id="excelFile" type="file"
																																			class="hidden add-image"></label>
								<button type="submit" id="generate" class="btn btn-success">Сгенерировать</button>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>
	</div>

</template>