<template name="batchesList">
	<div class="page-title">
		<div class="title_left">
			<h3>Партии товаров</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<div class="input-group">
					<a href="{{pathFor 'addBatch'}}" class="btn btn-primary"><span class="fa fa-plus"></span> Добавить партию
						товаров</a>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>


	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_content">

					<table class="table table-striped table-bordered <!--{{#if loadervar}}hidden{{/if}}-->">
						<thead>
						<tr>
							<th>Название</th>
							<th>Дата создания</th>
							<th>Акция</th>
							<th>Пользователь</th>
							<th>Опрос</th>
							<th>Кол-во</th>
						</tr>
						</thead>
						<tbody>
						{{#each batches}}
							<tr>
								<td>
									<a href="{{pathFor 'viewBatch' id=_id}}" class="btn btn-xs btn-primary"><i
													class="fa fa-line-chart"></i> </a>
									<button id="{{_id}}" class="download btn btn-xs btn-success"><i class="fa fa-download"></i></button>
									<a href="{{pathFor 'viewBatch' id=_id}}"><u>{{name}}</u></a></td>

								<td>{{created _createdAt}}</td>

								<td>
									<a href="{{pathFor 'actionsList'}}" class="btn btn-xs btn-primary"><i
													class="fa fa-line-chart"></i> </a>
									{{#if isAction action}}
										<a href="{{pathFor 'editAction' id=action}}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i>
										</a>
										<a href="{{pathFor 'editAction' id=action}}"><u>{{actionName action}}</u></a>
									{{else}}
										<span class="">Не найдена</span>
									{{/if}}
								</td>
								<td>
									<a href="{{pathFor 'editUser' id=user}}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i> </a>
									<a href="{{pathFor 'editUser' id=user}}"><u>{{username user}} {{username2 user}}</u></a>
								</td>

								<td>
									<a href="{{pathFor 'surveysList'}}" class="btn btn-xs btn-primary"><i
													class="fa fa-line-chart"></i> </a>
									{{#if isSurvey survey}}
										<a href="{{pathFor 'editSurvey' id=survey}}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i>
										</a>
										<a href="{{pathFor 'editSurvey' id=survey}}"><u>{{surveyTitle survey}}</u></a>
									{{else}}
										<span class="">Не найден</span>
									{{/if}}
								</td>

								<td>
									<button id="{{_id}}" class="download btn btn-xs btn-success"><i class="fa fa-download"></i></button>
									{{amount}}</td>

							</tr>
						{{/each}}
						</tbody>
					</table>

					<!--<div class="{{#unless loadervar}}hidden{{/unless}} text-center">
                        {{> loadtemp}}
                    </div>-->

				</div>
			</div>
		</div>
	</div>

</template>