<head>
	<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893"/>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-clustering.js"></script>
</head>

<template name="viewBatch">

	<style>

	</style>

	<div class="page-title">
		<div class="title_left">
			<h3>Партия {{batch._id}}</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right">
				<a href="{{pathFor 'batchesList'}}" class="btn btn-success ">Все партии</a>
				<button id="{{batch._id}}" class="download btn btn-info ">Скачать QR</button>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<div id="map" style="height:400px;"></div>
				</div>
			</div>
		</div>
	</div>

	<!--Tracks-->
	<div class="row">
		{{#if tracks}}
			<div class="col-md-6 col-sm-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Просмотры {{batch.name}}</h2>

						<div class="clearfix"></div>
					</div>

					<div class="x_content">
						<table class="table table-striped table-bordered ">
							<thead>
							<tr>
								<th>Дата</th>
								<th>Пачка</th>
								<th>Агент</th>
								<th>ОС</th>
								<th>Номер визита</th>
								<th>Город</th>
							</tr>
							</thead>

							<tbody>
							{{#each tracks}}
								<tr class="{{#if today _createdAt}}success{{/if}}">
									<!--<td><img src="https://www.gravatar.com/avatar/{{md5 device}}?d=identicon"></td>-->
									<td><a onclick="window.open('https://crp.st/{{item}}', 'example', 'width=500,height=700');"
												 class="example btn btn-info btn-xs" title="Просмотр"><span class="fa fa-eye"></span></a>
										{{created _createdAt}}</td>
									<td>{{#if bid}}
										<a href="{{pathFor 'viewBatch' id=bid}}" class="btn btn-primary btn-xs" title="Просмотр"><span
														class="fa fa-line-chart"></span></a>
										{{bid}}{{/if}}</td>
									<td class="text-center"><i class="fa {{agent device}}"></i></td>
									<td class="text-center"><i class="fa {{os device}} "></i></td>

									<td class="text-center">{{vizit device}}</td>
									<td>{{city}}</td>
								</tr>
							{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{{/if}}

		{{#if timeline}}
			<div class="col-md-6 col-sm-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>{{_ 'Change_log'}} {{product.name}}</h2>

						<div class="clearfix"></div>
					</div>

					<div class="x_content">
						<table class="table table-striped table-bordered ">
							<thead>
							<tr>
								<th>Дата</th>
								<th>Пользователь</th>
								<th>Акция</th>
							</tr>
							</thead>

							<tbody>
							{{#each timeline}}
								<tr class="{{#if isToday _createdAt}}success{{/if}}">
									<td>{{created _createdAt}}</td>
									<td><a href="{{pathFor 'editUser' id=user}}" class="btn btn-xs btn-info"><i
													class="fa fa-edit"></i></a>
										<a href="{{pathFor 'editUser' id=user}}"><u> {{username user}} {{username2 user}}</u></a>
									</td>
									<td>{{action}}</td>
								</tr>
							{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{{/if}}

	</div>

	<div class="row">
		<!--<form id="form" class="form-horizontal form-label-left">
			<div class="form-group">
				<label class="control-label col-xs-3 col-sm-3">Акция
				</label>
				<div class="col-md-6 col-sm-6">
					<input type="text" disabled class="form-control" value="{{actionName batch.action}}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3 col-sm-3">Опрос
				</label>
				<div class="col-md-6 col-sm-6">
					<input type="text" disabled class="form-control" value="{{surveyTitle batch.survey}}">
				</div>
			</div>
		</form>-->

		<div class="col-md-9 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Содержимое партии {{batch.name}}</h2>

					<div class="clearfix"></div>
				</div>


				<div class="x_content">
					<table class="table table-striped table-bordered ">
						<thead>
						<tr>
							<th>ID</th>
							<th>Штрихкод</th>
							<th>Акция</th>
							<th>Картинка</th>
							<th>Очки</th>
						</tr>
						</thead>

						<tbody>
						{{#each itemsInactive}}
							<tr class="success">
								<td>{{_id}}</td>
								<td>{{barcode}}</td>
								<td><a href="{{pathFor 'editAction' id=Action._id}}">{{Action.name}}</a></td>
								<td><img src="{{photo}}" style="object-fit: cover; width: 75px; height: 50px"  alt="{{imageOrDefault photo}}"></td>
								<td>{{points}}</td>
							</tr>
						{{/each}}
						</tbody>
					</table>

					<table class="table table-striped table-bordered ">
						<thead>
						<tr>
							<th>ID</th>
							<th>Штрихкод</th>
							<th>Акция</th>
						</tr>
						</thead>

						<tbody>
						{{#each itemsActive}}
							<tr class="">
								<td>{{_id}}</td>
								<td>{{barcode}}</td>
								<td><a href="{{pathFor 'editAction' id=Action._id}}">{{Action.name}}</a></td>
							</tr>
						{{/each}}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</template>