<template name="loginForm">

	<div class="login_wrapper">
		{{#if currentUser}}
			{{#unless currentUser.company}}
				<div class="alert alert-danger alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
					</button>
					Этот аккаунт не привязан к компании
				</div>
			{{/unless}}

			{{#unless currentUser.emails.[0].verified}}
				<div class="alert alert-warning alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
					</button>
					Аккаунт не проверен: {{currentUser.emails.[0].address}}
				</div>
			{{/unless}}
		{{/if}}


		{{#if $eq state 'login'}}
			<div class="">
				<section class="login_content">
					<form id="enter" class="form_350">
						<h1>Форма входа</h1>
						<div>
							<input type="email" id="loginlogin" class="form-control" placeholder="Ваш email" required=""/>
						</div>
						<div>
							<input type="password" id="loginpassword" class="form-control" placeholder="Пароль" required=""/>
						</div>
						<div>
							<button type="submit" class="btn btn-default">Войти в систему</button>
							<a class="reset_pass" id="forget">Забыли пароль?</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<div class="clearfix"></div>
							<br/>

						</div>
					</form>
				</section>
			</div>
		{{/if}}

		{{#if $eq state 'forget'}}
			<div class="">
				<section class="login_content">
					<form id="enterforget" class="form_350">
						<h1>Восстановить пароль</h1>
						<div>
							<input type="email" id="emailforget" class="form-control" placeholder="Ваш Email" required=""/>
						</div>
						<div>
							<button type="submit" class="btn btn-default">Восстановить пароль</button>
							<a class="reset_pass" id="login">Назад ко входу</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<p class="change_link">Попробуйте наши услуги!
								<a href="{{pathFor 'createcomp'}}" class="to_register">Создать компанию</a>
							</p>

							<div class="clearfix"></div>
							<br/>

						</div>
					</form>
				</section>
			</div>
		{{/if}}

		{{#if $eq state 'verify'}}
			<div class="">
				<section class="login_content">
					<form id="resent" class="form_350">
						<h1>Подтверждение Email</h1>
						<div>
							Письмо с подтверждением отправлено
						</div>
						<div>
							<input type="email" class="form-control" value="{{currentUser.emails.[0].address}}" disabled/>
						</div>
						<div>
							<button type="submit" class="btn btn-default">Отправить еще раз</button>
							<!--<a class="reset_pass"  id="login" >back to login</a>-->
						</div>

						<div class="clearfix"></div>

						<div class="separator">

							<div class="clearfix"></div>
							<br/>

						</div>
					</form>
				</section>
			</div>
		{{/if}}
	</div>


</template>