<template name="registration">

	{{#if accept}}

		<div class="login_wrapper">
			<div class="">
				<section class="login_content">
					<form id="reg" class="form_350">
						<h1>Регистрация аккаунта</h1>
						<div>
							<input type="email" id="email" value="{{valemail}}" autocomplete="off" class="form-control"
										 placeholder="Ваш email" required=""/>
						</div>
						<div>
							<input type="password" id="password" class="form-control" autocomplete="off" placeholder="Пароль"
										 required=""/>
						</div>
						<div>
							<input type="password" id="password2" class="form-control" autocomplete="off"
										 placeholder="Повторите пароль" required=""/>
						</div>
						<div>
							<button type="submit" class="btn btn-default">Создать</button>
							<a class="reset_pass" href="{{pathFor 'login'}}">Войти в систему</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">

						</div>
					</form>
				</section>
			</div>
		</div>
	{{else}}
		<div class="login_wrapper">
			<div class="">
				<section class="login_content">
					<form>
						<div style="text-align: justify">
							<h1 style="text-align: center">Privacy Policy</h1>


						</div>
						<div>
							<button id="accept" class="btn btn-default">Согласен</button>
							<a class="reset_pass" href="{{pathFor 'login'}}">Войти в систему</a>
						</div>
						<div class="separator">

						</div>
					</form>
				</section>
			</div>
		</div>
	{{/if}}

</template>