<template name="resetpas">
	<div class="login_wrapper">
		<div class="">
			<section class="login_content">
				<form id="entereset">
					<h1>Восстановление пароля</h1>
					<div>
						<input type="password" id="pass" class="form-control" placeholder="Ваш новый пароль" required=""/>
					</div>
					<div>
						<button type="submit" class="btn btn-default">Сохранить новый пароль</button>
					</div>

					<div class="clearfix"></div>

					<div class="separator">
						<p class="change_link">Попробуйте наши услуги!
							<a href="{{pathFor 'createcomp'}}" class="to_register">Создать аккаунт компании</a>
						</p>

						<div class="clearfix"></div>
						<br/>

					</div>
				</form>
			</section>
		</div>
	</div>
</template>