<template name="editTest">

	<div class="page-title">
		<div class="title_left">
			<h3>Редактировать тест (ответили: {{getNumber test.answered}})</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<a style="margin-left: 1em" href="{{pathFor 'testsList'}}" class="btn btn-success pull-right">Все тесты</a>
				<a href="{{pathFor 'testStats' id=test._id}}" class="btn btn-default pull-right">Статистика</a>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-10 col-sm-12">
			<div class="x_panel">
				<div class="x_content">
					<div class="form-horizontal form-label-left">
						{{#with test}}
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Название* </label>
								<div class="col-xs-12 col-sm-9">
									<input type="text" class="form-control test-field" data-name="title" value="{{title}}">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Картинка </label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<img src="{{#if img}}{{linkx img}}{{else}}/images/empty.png{{/if}}"
											 alt="{{title}}" id="mainim"
											 class="" style="width: 200px">

									<label class="btn btn-default">
										Обзор <input type="file" class="hidden" id="mainImg">
									</label>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Описание: </label>
								<div class="col-xs-12 col-sm-9">
									<div style="">
										<textarea class="form-control test-field" data-name="description"
															placeholder="Зачем он вам">{{description}}</textarea>
										<div style="height: 0.5em"></div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label question-label col-md-3 col-sm-3 col-xs-12">Баллов за опрос: </label>
								<div class="col-xs-12 col-sm-9">
									<input type="number" disabled class="form-control question-title test-field" data-name="points"
												 value="{{points test}}">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Статус</label>
								<div class="col-xs-12 col-sm-9">
									<select id="status" class="form-control test-field" data-name="status">
										<option {{isSelected status
																				 'active'}} value="active">Активный
										</option>
										<option {{isSelected status
																				 'disabled'}} value="disabled">Архивный
										</option>
									</select>
								</div>
							</div>
							<!--							<div class="form-group">-->
							<!--								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="action">Акция-->
							<!--								</label>-->
							<!--								<div class="col-xs-12 col-sm-9">-->

							<!--									<select id="action" class="form-control test-field" data-name="action">-->
							<!--										<option></option>-->
										<!--										{{#each actions}}-->
							<!--											&lt;!&ndash;Пустая. Акция опциональна (акция дает доп. баллы к опросу, но опрос и без нее хорошо справляется).&ndash;&gt;-->
							<!--											<option {{isSelected test.action _id}}-->
							<!--															value="{{_id}}">{{name}}</option>-->
										<!--										{{/each}}-->
							<!--									</select>-->
							<!--								</div>-->
							<!--							</div>-->

							<br>
							<h2 class="title_left" style="font-size: 1.5em">Вопросы:</h2>
							<br>

							{{> TestQuestionsList }} <!--test=_id-->

							<br>
							<br>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Настройки </label>
								<div class="">
									<button class="remove-show-popover btn btn-danger" data-toggle="popover"
													data-placement="top"
													title="Remove"><i class="fa fa-trash"></i> Удалить</button>
									<button class="btn btn-default" id="clone"><i class="fa fa-clone"></i> Дублировать</button>
								</div>
							</div>
						{{/with}}

					</div>
				</div>
			</div>
		</div>
	</div>


</template>