<template name="testsList">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Тесты</h3>
			</div>

			<div class="title_right">
				<div class="form-group pull-right">
					<a href="{{pathFor 'addTest'}}" class="btn btn-success"><i class="fa fa-user-plus"></i> Добавить тест</a>
				</div>
			</div>
		</div>

		<!--<div class="clearfix"></div>-->

		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class=""
								 style="height: fit-content; min-height: 40px; display: flex; justify-content: space-between">
							<div class="" style="padding-left: 0">
								<div class="col-xs-8" style="padding-left: 0">
									<input type="text" class="form-control ntSaveForms" id="search"
												 placeholder="{{_ 'search'}} {{_ '3+ characters'}}"
												 value="{{search}}">
								</div>
								<!--								<label style="margin-top: 8px;" class="control-label col-md-1 col-sm-1 col-xs-2"> Limit </label>-->
								<div class="col-xs-4" style="">
									<select name="" id="limit" class="form-control">
										<option value="20" {{isSelected limit 20}}>20</option>
										<option value="50" {{isSelected limit 50}}>50</option>
										<option value="100" {{isSelected limit 100}}>100</option>
										<option value="9999" {{isSelected limit 9999}}>{{_ 'max'}}</option>
									</select>
								</div>
							</div>
							<div class="" style="display: flex; justify-content: flex-end; padding-right: 0;">
								{{#if showReset}}
									<button style="" id="resetLimitSearch" class="btn btn-success ntSaveFormsSubmit">{{_
													'Reset to defaults'}}</button>
								{{/if}}
								{{#if showRefresh}}
									<button id="refresh" class="btn btn-default" style="margin-right: 0;"><i class="fa fa-refresh"
																																													 aria-hidden="true"></i>
									</button>
								{{/if}}
							</div>
						</div>

						<div class="">
							<table class="table table-striped table-bordered {{#unless loaded}}hidden{{/unless}}">
								<thead>
								<tr>
									<th>Название теста</th>
									<th>Создан</th>
<!--									<th>Акция</th>-->
									<th>Статус</th>
								</tr>
								</thead>

								<tbody>
								{{#each tests}}
									<tr class="{{#unless $eq status 'active'}}danger{{/unless}}">
										<td><a href="{{pathFor 'editTest' id=_id}}"><u>{{title}}</u></a></td>
										<td>{{created _createdAt}}</td>
										<!--<td>
											<a href="{{pathFor 'actionsList'}}" class="btn btn-xs btn-primary"><i
															class="fa fa-line-chart"></i> </a>
											{{#if isAction action}}
												<a href="{{pathFor 'editAction' id=action}}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i>
												</a>
												<a href="{{pathFor 'editAction' id=action}}"><u>{{actionName action}}</u></a>
											{{else}}
												<span class="">Не найдена</span>
											{{/if}}
										</td>-->
										<td>{{russianStatus status}}</td>
									</tr>
								{{/each}}
								</tbody>
							</table>

							<div class="{{#if loaded}}hidden{{/if}} text-center">
								{{> loadtemp}}
							</div>
						</div>
						<!-- end project-detail sidebar -->

					</div>
				</div>
			</div>
		</div>
	</div>

</template>