<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
				integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
				crossorigin=""/>

	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
					integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
					crossorigin=""></script>

	<!--Необходимо для работы половины графиков chartjs. Импорт не помогает... И что не так...-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>
<template name="testStats">
	<div class="page-title">
		<div class="title_left">
			<h3>Статистика теста (ответили: {{getNumber survey.answered}})</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<a style="margin-left: 1em" href="{{pathFor 'testsList'}}" class="btn btn-success pull-right">Все тесты</a>
				<a href="{{pathFor 'editTest' id=survey._id}}" class="btn btn-default pull-right">Редактировать</a>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-10 col-sm-12">
			<div class="x_panel">
				<div class="x_content">
					<div class="form-horizontal form-label-left">
						{{#with survey}}
							<div class="form-group">
								<h1 >{{title}}</h1>
							</div>

							<div id="map" style="height: 500px;"> <!--карта прохождений опроса-->
							</div>

							<canvas id="test-correct-stats" style="width: 100%; height: 300px;">
							</canvas>

							{{#each survey.questions}}
								<div class="form-group actionBar">
									<h2 style="text-align: left">{{title}}</h2>
								</div>
								<div class="question-stats">
									{{#if $eq type 'select'}} <!--только select и есть-->
										<canvas class="select-answers-stats" data-question-id="{{_id}}" style="width: 100%; height: 300px;">
										</canvas>
										<br>
										<br>
									{{/if}}
								</div>
							{{/each}}


						{{/with}}

					</div>
				</div>
			</div>
		</div>
	</div>

</template>