.form_350 {
	width: 350px;
	margin: auto;
}

.H_ib_body {
	background: #123e3ec2 !important;
	font-size: 14px !important;
	line-height: 16px !important;
}

.H_ib_content {
	padding: 0px 15px !important;
	margin: 0 !important;
	min-width: 200px !important;
}

.profile_imge {
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	margin: 10px;
	float: left;
}

.left_col {
	min-height: 100%;
	width: 230px;
	padding: 0;
	position: absolute;
	display: -ms-flexbox;
	display: flex;
	z-index: 1
}

.profile_inf span {
	margin-right: 3px;
}

.profile_inf b {
	color: #fff;
}

.profile_inf {
	margin-top: 15px;
	display: inline-block;
	color: #ced6de;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 155px;
	float: right;
}

.round-border {
	border-radius: 50%;
}

.rounded-border {
	border-radius: 10%;
}

.scroll-view {
	/*width: 230px;*/
	/*position: fixed!important;*/
}

.nav-md .container.body .right_col {
	/*margin-left: 230px;*/
}

@media (max-width: 991px) {
	.nav-md .container.body .left_col {
		display: block !important;
	}
}

.left_col {
	/*position: fixed;*/
	/*overflow-x: visible;*/

	transition: left ease-in-out .5s;
}

.right_col {
	transition: margin-left ease-in-out .5s;
}

.left_col__toggler {
	position: fixed;
	left: 230px;
	font-size: 54px;
	height: 100%;
	width: 30px;
	background: rgba(42, 63, 84, 0.00);
	transition: left ease-in-out .5s, background-color ease-in-out .5s;
	margin: 0;
	padding: 0;
	will-change: background, left;
}

.left_col__toggler:hover {
	background: rgba(42, 63, 84, 0.16);
	cursor: pointer;
}

.left_col__toggler:hover .toggler1, .left_col__toggler:hover .toggler2 {
	color: rgba(42, 63, 84, 0.8);
}

.left_col__toggler .toggler1 {
	position: relative;
	color: rgba(42, 63, 84, 0.24);
	left: 5px;
	margin-top: calc(40vh - 50px);
	transition: all ease-in-out .2s;
}

.left_col__toggler .toggler2 {
	position: relative;
	color: rgba(42, 63, 84, 0.24);
	left: 5px;
	margin-top: 100px;
	transition: all ease-in-out .2s;
}

/*portrait tables, landscape phones*/
@media (max-width: 767px) {
	.nav-md .container.body .left_col {
		left: -230px;
	}

	.nav-md .container.body .left_col__toggler {
		left: 0;
	}

	.nav-md .container.body .right_col {
		margin-left: 20px;
	}

	.left_col__toggler .angle::before {
		content: "\f105"; /*// > */
	}
}

@media (min-width: 768px) {
	.nav-md .container.body .left_col {
		left: 0;
	}

	.nav-md .container.body .left_col__toggler {
		left: 230px;
	}

	.nav-md .container.body .right_col {
		margin-left: 250px;
	}

	.left_col__toggler .angle::before {
		content: "\f104"; /*// < */
	}

}

.right_col.left_col-show {
	margin-left: 250px !important; /* чтобы обмануть media*/
}

.left_col__toggler.left_col-show {
	left: 230px !important;
}

.left_col.left_col-show {
	left: 0 !important;
}


.right_col.left_col-hide {
	margin-left: 20px !important;
}

.left_col__toggler.left_col-hide {
	left: 0px !important;
}

.left_col.left_col-hide {
	left: -230px !important;
}

.left_col__toggler.left_col-show .angle::before {
	content: "\f104";
}

.left_col__toggler.left_col-hide .angle::before {
	content: "\f105";
}


/*костыль для скрытия неугодной надписи*/
.fr-element.fr-view [data-f-id="pbf"] {
	display: none;
}

#resetLimitSearch{
	float: right;
}

@media (max-width: 768px) {
	#resetLimitSearch{
		margin-top: 10px;
	}
}