<template name="addUser">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3> Добавление пользователя</h3>
			</div>

			<div class="title_right">
				<div class="form-group pull-right input-group">
					<a href="{{pathFor 'usersList'}}"
						 class="btn btn-success pull-right">Все администраторы</a>
				</div>
			</div>

		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="x_panel">

					<div class="x_content">
						<form id="form" class="form-horizontal form-label-left">

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Доступ</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select id="access" class="form-control">
										<option value="full">Полный</option>
										<option value="low">Минимальный</option>
									</select>
								</div>
							</div>

							<!--<div class="form-group">-->
							<!--<label class="control-label col-md-6 col-sm-12 col-xs-12 text-success text-center">Public data:</label>-->
							<!--</div>-->

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Картинка</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<img src="/images/user.png" id="img" style="width: 100%">
									<input type="hidden" class="hidden" id="fileId" value="smGwtp2k4kF6aFnEe">

									<label class="btn btn-default">
										Обзор <input type="file" class="hidden" id="mainImg">
									</label>

								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Имя*</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" id="name" required data-error="Заполните это поле" name="name">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Фамилия</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" id="name2">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Должность</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" id="position">
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Возраст</label>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="number" min="1" value="20" class="form-control" id="age">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Телефон*</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" id="phone" required placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" data-error="Введите телефон в соответствии с шаблоном 123-456-7890">
									<div class="help-block">123-456-7890</div>
								</div>
							</div>

							<!--<div class="form-group">-->
							<!--<label class="control-label col-md-3 col-sm-3 col-xs-12"> Company Name</label>-->
							<!--<div class="col-md-6 col-sm-6 col-xs-12">-->
							<!--<input type="text" class="form-control" id="company" value="none">-->
							<!--</div>-->
							<!--</div>-->


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Email*</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control has-feedback-left" id="email" name="email"
												 required data-error="Введите email по шаблону example@example.com" placeholder="example@example.com">
									<span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
									<div class="help-block with-errors">example@example.com</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Временный пароль</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control has-feedback-left" id="tempPassword" value="{{pass}}">
									<span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
								</div>
							</div>


							<div class="actionBar">
								<button type="submit" id="create" class="btn btn-success">Создать</button>
							</div>

						</form>
					</div>
				</div>
			</div>


		</div>

	</div>

	<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>-->
</template>