<template name="editUser">
	<div class="page-title">
		<div class="title_left">
			<h3>Редактировать администратора</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<a href="{{pathFor 'usersList'}}" class="btn btn-success pull-right">Все администраторы</a>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-9 col-sm-12">
			<div class="x_panel">
				<div class="x_content">
					<div id="form" class="form-horizontal form-label-left">
						{{#with user}}

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Картинка </label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<img src="{{#if img}}{{linkx img}}{{else}}/images/empty.png{{/if}}" alt="{{name}}" id="mainim"
											 class="" style="width: 200px">

									<label class="btn btn-default">
										Обзор <input type="file" class="hidden" id="mainImg">
									</label>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Имя*</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" id="name" required data-error="Заполните это поле" value="{{name}}">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Фамилия</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" id="name2" value="{{name2}}">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Должность</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" id="position" value="{{position}}">
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Возраст</label>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="number" min="1" class="form-control" id="age" value="{{age}}">
									<!--                <span class="fa fa-calendar-o form-control-feedback left"></span>-->
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Телефон*</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" id="phone" required placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" data-error="Введите телефон в соответствии с шаблоном 123-456-7890" value="{{formatPhone phone}}">
									<div class="help-block">123-456-7890</div>
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Email*</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="email" class="form-control has-feedback-left" id="email" required data-error="Введите email по шаблону example@example.com" placeholder="example@example.com"
												 value="{{emails.[0].address}}">
									<span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
									<div class="help-block with-errors">example@example.com</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Временный пароль</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control has-feedback-left" disabled="disabled"
												 value="{{tempPassword}}">
									<span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Статус</label>
								<div class="col-xs-12 col-sm-9">
									<select id="status" class="form-control">
										<!--<option value=""></option>-->
										<option {{isSelected status
																				 'активный'}} value="active">Активный
										</option>
										<option {{isSelected status
																				 'архивный'}} value="disabled">Архивный
										</option>
									</select>
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Создан </label>
								<div class="col-xs-12 col-sm-9">
									<input type="datetime" class="form-control" disabled="disabled" value="{{created createdAt}}">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Последний раз заходил </label>
								<div class="col-xs-12 col-sm-9">
									<input type="datetime" class="form-control" disabled="disabled" value="{{created _lastVisit}}">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Настройки</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<button class="btn btn-warning" id="resetpass"><i class="fa fa-key"></i> Сбросить пароль</button>
									<button {{isDisabled}} class="btn btn-danger" id="remove"><i class="fa fa-trash"></i> Удалить</button>
								</div>
							</div>
						{{/with}}

					</div>
				</div>
			</div>
		</div>
	</div>
</template>