<template name="usersList">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Администраторы компании</h3>
			</div>

			<div class="title_right">
				<div class="form-group pull-right">
					<a href="{{pathFor 'addUser'}}" class="btn btn-success"><i class="fa fa-user-plus"></i> Добавить
						администратора</a>
				</div>
			</div>
		</div>

		<!--<div class="clearfix"></div>-->

		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
							<table class="table table-striped table-bordered ">
								<thead>
								<tr>
									<th>ФИО</th>
									<th>Email</th>
									<th>Телефон</th>
								</tr>
								</thead>

								<tbody>
								{{#each users}}
									<tr>
										<td><a href="{{pathFor 'editUser' id=_id}}"><u>{{name}} {{name2}}</u></a></td>
										<td>{{emails.[0].address}}</td>
										<td>{{phone}}</td>
									</tr>
								{{/each}}
								</tbody>
							</table>

						</div>
						<!-- end project-detail sidebar -->

					</div>
				</div>
			</div>
		</div>
	</div>

</template>