<template name="changeLog">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>История действий</h3>
			</div>

		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-xs-12">
				<div class="x_panel">

					<div class="x_content">
						<table class="table table-striped table-bordered  {{#if loadervar}}hidden{{/if}}">
							<thead>
							<tr>
								<th>Дата</th>
								<th>Пользователь</th>
								<th>Действие</th>
								<th>Действия</th>
							</tr>
							</thead>

							<tbody>
							{{#each timeline}}
								<tr>
									<td><strong>{{created _createdAt}}</strong></td>
									<td>{{tusername user}} {{tusername2 user}}</td>
									<td>{{russianAction action}}</td>
									<td>
										<button id="{{_id}}" class="del btn btn-xs btn-danger"><span class="fa fa-trash"></span></button>
										{{#if revert}}
											<button id="{{_id}}" class="revert btn btn-xs btn-success">Откатить</button>
										{{/if}}
									</td>
								</tr>
							{{/each}}
							</tbody>
						</table>
						<button class="btn btn-default text-center" id="showMore">Показать больше</button>

						<div class="{{#unless loadervar}}hidden{{/unless}} text-center">
							{{> loadtemp}}
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</template>