<template name="preferences">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Редактирование компании</h3>
			</div>

		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-xs-12 col-md-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class="form_wizard wizard_horizontal">
							<div id="form" class="form-horizontal form-label-left">

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Картинка </label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<img src="{{#if Company.img}}{{linkx Company.img}}{{else}}/images/empty.png{{/if}}"
												 alt="{{Company.name}}" id="mainim"
												 class="" style="width: 200px">

										<label class="btn btn-default">
											Обзор <input type="file" class="hidden" id="mainImg">
										</label>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">ID компании</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" class="form-control" disabled="disabled" value="{{Company._id}}">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Дата регистрации</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" class="form-control" disabled="disabled" value="{{Company._createdAt}}">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Наименование юридического лица</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" class="company form-control" required data-error="Заполните это поле"
													 data-field="name" value="{{Company.name}}">
										<div class="help-block with-errors"></div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Единый государственный регистрационный
										номер</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" class="company form-control" required data-error="Заполните это поле"
													 data-field="egr" value="{{Company.egr}}">
										<div class="help-block with-errors"></div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Свидетельство серия, номер, дата
										выдачи</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-inline">
											<div class="form-group">
												<label class="sr-only">Серия</label>
												<input type="text" class="company form-control" required data-field="egrSery"
															 placeholder="Серия"
															 value="{{Company.egrSery}}">
											</div>
											<div class="form-group">
												<label class="sr-only">Номер</label>
												<input type="text" class="company form-control" data-field="egrNum" required placeholder="Номер"
															 value="{{Company.egrNum}}">
											</div>

											<div class="form-group">
												<label class="sr-only">Выдан</label>
												<input type="date" class="company form-control" data-field="egrDate" required
															 placeholder="Дата выдачи"
															 value="{{Company.egrDate}}">
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Идентификационный код
										налогоплательщика</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" class="company form-control" required minlength="6"
													 data-error="Заполните это поле" data-field="inn" value="{{Company.inn}}">
										<div class="help-block">Минимум 6 символов</div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Адрес места нахождения юридического
										лица</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" class="company form-control" required data-error="Заполните это поле"
													 data-field="address" value="{{Company.address}}">
										<div class="help-block with-errors"></div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">ФИО руководителя
										организации</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" class="company form-control" data-field="director" required
													 data-error="Заполните это поле" value="{{Company.director}}">
										<div class="help-block with-errors"></div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">ФИО, контакты (при наличии) лица,
										ответственного за маркетинг в организации.</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-inline">
											<div class="form-group">
												<label class="sr-only">Имя</label>
												<input type="text" class="company form-control" data-field="contantName" placeholder="Имя"
															 value="{{Company.contantName}}">
											</div>
											<div class="form-group">
												<label class="sr-only">Должность</label>
												<input type="text" class="company form-control" data-field="contantRole" placeholder="Должность"
															 value="{{Company.contantRole}}">
											</div>
											<div class="form-group">
												<label class="sr-only">Контакт</label>
												<input type="text" class="company form-control" data-field="contantPhone" placeholder="Контакт"
															 value="{{Company.contantPhone}}">
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Контактный email</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="email" class="company form-control" id="companyEmail"
													 data-error="Введите корректный email" data-field="email"
													 value="{{Company.email}}">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Контактный телефон</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" class="company form-control" id="companyPhone" placeholder="123-456-7890"
													 pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
													 data-error="Введите телефон в соответствии с шаблоном 123-456-7890" data-field="phone"
													 value="{{formatPhone Company.phone}}">
										<div class="help-block">123-456-7890</div>
									</div>
								</div>


								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Статус</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<select id="companyStatus" class="company form-control" data-field="status">
<!--											<option {{isSelected Company.status ''}} value=""></option>-->
											<option value="active" {{isSelected Company.status
																													'active'}}>Действующая
											</option>
											<option value="disabled" {{isSelected Company.status
																														'disabled'}}>Архивная
											</option>
										</select>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</template>