<template name="footer">
	<footer style="min-width: calc(100% + 20px);">

		<div class="pull-right">
			<!--<a href="https://cryptostamped.com" target="_blank"><span class="fa fa-copyright"></span> Know.me</a>-->
			<!--<a class="btn btn-success"> Support</a>-->
		</div>
		<div class="clearfix"></div>
	</footer>
</template>