<template name="leftCol">
	<div class="left_col" style="position: fixed">
		<div class="left_col__toggler">
			<div class="toggler1 "><i class="fa angle" aria-hidden="true"></i></div>
			<div class="toggler2 "><i class="fa angle" aria-hidden="true"></i></div>
		</div>
		<div class="scroll-view" style="width: 100%">

		{{#if Company}}
				<div class="profile clearfix">
					<div>
						<div class="profile_imge rounded-border" style="background-image: url({{#if Company.img}}{{linkx
										Company.img}}{{else}}/images/empty.png{{/if}})"></div>

						<div class="profile_inf">
							<b>{{Company.name}} {{Company.brand}}</b><br>
							<i id="company" style="cursor: pointer" href="{{pathFor 'editUser'}}" data-toggle="tooltip"
								 data-placement="top">
								<i class="fa fa-cog"></i> Профиль
							</i>

						</div>
					</div>
				</div>
			{{/if}}


			<div class="{{#unless Company}}hidden{{/unless}}">
				<!-- menu profile quick info -->
				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

					<div class="menu_section">
						<ul class="nav side-menu">
							<li>
								<a href="{{pathFor 'dashboard'}}"><!--<i class="fa fa-dashboard"></i>-->
									Статистика</a></li>
							<!--<li>
								<a href="{{pathFor 'enrollmentsList'}}"
									 class="{{#if $.Session.equals 'sidebar' 'enrollmentsList'}}active current-page{{/if}}">
									<i class="fa fa-dashboard"></i>
									Зачисления</a></li>-->

							<li><a><!--<i class="fa fa-home"></i>--> Аккаунт компании<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<!--<li class="{{#if $.Session.equals 'sidebar' 'preferences'}}active current-page{{/if}}">
										<a href="{{pathFor 'preferences'}}"> Редактировать</a></li>-->
									<li class="{{#if $.Session.equals 'sidebar' 'changeLog'}}active current-page{{/if}}">
										<a href="{{pathFor 'changeLog'}}"> История действий</a></li>
								</ul>
							</li>


							<li><a><!--<i class="fa fa-users"></i>--> Администраторы<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li class="{{#if $.Session.equals 'sidebar' 'usersList'}}active current-page{{/if}}">
										<a href="{{pathFor 'usersList'}}"> Список администраторов</a></li>
									<li class="{{#if $.Session.equals 'sidebar' 'addUser'}}active current-page{{/if}}">
										<a href="{{pathFor 'addUser'}}"> Добавить администратора</a>
									</li>
									<!--<li class="{{#if $.Session.equals 'sidebar'
																	 'Permissions'}}active current-page{{/if}}"><a href="{{pathFor
													'permissions'}}"> Разрешения</a></li>-->
								</ul>
							</li>


							<!--<li><a>&lt;!&ndash;<i class="fa fa-home"></i>&ndash;&gt;Акции<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li class="{{#if $.Session.equals 'sidebar' 'actionsList'}}active current-page{{/if}}">
										<a href="{{pathFor 'actionsList'}}">Все акции</a></li>
									<li class="{{#if $.Session.equals 'sidebar' 'addAction'}}active current-page{{/if}}">
										<a href="{{pathFor 'addAction'}}">Добавить акцию</a></li>
								</ul>
							</li>

							<li><a>&lt;!&ndash;<i class="fa fa-videos"></i>&ndash;&gt;Посты и видео<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li class="{{#if $.Session.equals 'sidebar' 'contentsList'}}active current-page{{/if}}">
										<a href="{{pathFor 'contentsList'}}">Все посты</a></li>
									<li class="{{#if $.Session.equals 'sidebar' 'videosList'}}active current-page{{/if}}">
										<a href="{{pathFor 'videosList'}}">Все видео</a></li>
									<li class="{{#if $.Session.equals 'sidebar' 'addContent'}}active current-page{{/if}}">
										<a href="{{pathFor 'addContent'}}">Добавить пост</a></li>
									<li class="{{#if $.Session.equals 'sidebar' 'addVideo'}}active current-page{{/if}}">
										<a href="{{pathFor 'addVideo'}}">Добавить видео</a></li>
								</ul>
							</li>


							<li><a>&lt;!&ndash;<i class="fa fa-home"></i>&ndash;&gt;Партии товаров<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li class="{{#if $.Session.equals 'sidebar' 'batchesList'}}active current-page{{/if}}">
										<a href="{{pathFor 'batchesList'}}">Все партии</a></li>
									<li class="{{#if $.Session.equals 'sidebar' 'addBatch'}}active current-page{{/if}}">
										<a href="{{pathFor 'addBatch'}}">Добавить партию</a></li>
								</ul>
							</li>-->

							<li><a><!--<i class="fa fa-home"></i>-->Опросы и тесты<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li class="{{#if $.Session.equals 'sidebar' 'surveysList'}}active current-page{{/if}}">
										<a href="{{pathFor 'surveysList'}}">Все опросы</a></li>
									<li class="{{#if $.Session.equals 'sidebar' 'testsList'}}active current-page{{/if}}">
										<a href="{{pathFor 'testsList'}}">Все тесты</a></li>
									<li class="{{#if $.Session.equals 'sidebar' 'addSurvey'}}active current-page{{/if}}">
										<a href="{{pathFor 'addSurvey'}}">Добавить опрос</a></li>
									<li class="{{#if $.Session.equals 'sidebar' 'addTest'}}active current-page{{/if}}">
										<a href="{{pathFor 'addTest'}}">Добавить тест</a></li>
								</ul>
							</li>
						</ul>
					</div>


				</div>
				<!-- /sidebar menu -->

				<!-- /menu footer buttons -->
				<div class="sidebar-footer">
					{{#if currentUser}}
						<div class="profile clearfix">
							<div>
								<div class="profile_imge round-border" style="background-image: url({{linkx currentUser.img}})"></div>

								<div class="profile_inf">
									<b>{{currentUser.name}} {{currentUser.name2}}</b><br>
									<i id="profile" style="cursor: pointer" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-cog"></i> Профиль
									</i>

									<i id="logout" style="cursor: pointer" href="{{pathFor 'editUser'}}" data-toggle="tooltip"
										 data-placement="top">
										<i class="fa fa-sign-out"></i> Выйти
									</i>

								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					{{/if}}

					<!--<a href="{{pathFor 'editUser'}}" data-toggle="tooltip" data-placement="top" title="Settings">-->
					<!--<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>-->
					<!--</a>-->
					<!--<a data-toggle="tooltip" data-placement="top" title="FullScreen">-->
					<!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
					<!--</a>-->
					<!--<a data-toggle="tooltip" data-placement="top" title="Lock">-->
					<!--<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>-->
					<!--</a>-->
					<!--<a data-toggle="tooltip" data-placement="top" title="Logout" onclick="Meteor.logout(); FlowRouter.go('login')">-->
					<!--<span class="glyphicon glyphicon-off" aria-hidden="true"></span>-->
					<!--</a>-->
				</div>
			</div>
			<!-- /menu footer buttons -->
		</div>
	</div>

</template>