<template name="actionsList">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Акции</h3>
			</div>

			<div class="title_right">
				<div class="form-group pull-right">
					<a href="{{pathFor 'addAction'}}" class="btn btn-success"><i class="fa fa-user-plus"></i>Добавить акцию</a>
				</div>
			</div>
		</div>

		<!--<div class="clearfix"></div>-->
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
							<!--<div class="{{#if loadervar}}hidden{{/if}}">{{>loadtemp}}</div>-->
							<table class="table table-striped table-bordered <!--{{#unless loadervar}}hidden{{/unless}}-->">
								<thead>
								<tr>
									<th>Название акции</th>
									<th>Баланс</th>
									<th>Тип</th>
									<th>Создана</th>
									<th>Статус</th>
								</tr>
								</thead>

								<tbody>


								{{#each actions}}
									<tr class="{{#unless $eq status 'active'}}danger {{/unless}}">
										<td class="">
											<a href="{{pathFor 'editAction' id=_id}}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i>
											</a>
											<button id="{{_id}}" class="trash btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
											<a href="{{pathFor 'editAction' id=_id}}"><u>{{name}}</u></a></td>

										<td><a href="{{pathFor 'enrollmentsList' id=_id}}" class="btn btn-xs btn-info"><i
														class="fa fa-edit"></i> </a>
											<a href="{{pathFor 'enrollmentsList' id=_id}}" title="Подробнее"><u>
												{{current}} из {{budget}}</u> </a></td>

										<td>{{russianType type}}</td>
										<td>{{created _createdAt}}</td>
										<td>{{russianStatus status}}</td>
									</tr>
								{{/each}}
								</tbody>
							</table>

						</div>
						<!-- end project-detail sidebar -->

					</div>
				</div>
			</div>
		</div>
	</div>

</template>