<template name="addAction">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Добавить акцию</h3>
      </div>
      
      <div class="title_right">
        <div class="form-group pull-right input-group">
          <a href="{{pathFor 'actionsList'}}"
             class="btn btn-success pull-right">Все акции</a>
        </div>
      </div>
    
    </div>
    
    <div class="clearfix"></div>
    
    <div class="row">
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="x_panel">
          
          <div class="x_content">
            <form id="form" class="form-horizontal form-label-left">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Название акции *</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" class="form-control" id="name" name="name" required data-error="Это поле необходимо заполнить" value="">
									<div class="help-block with-errors"></div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Бюджет *</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" value="2000" min="1" step="1" class="form-control" id="budget" required data-error="Это поле необходимо заполнить">
									<div class="help-block with-errors"></div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Тип *</label>
                <div class="col-xs-12 col-sm-9">
                  <select id="type" class="form-control">
                    <option value="item">Продажа товара</option>
                    <option value="video">Просмотр видео</option>
                    <option value="survey">Прохождение опроса</option>
                  </select>
                </div>
              </div>

              
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Вознаграждение от ... до * </label>
                <div class="form-inline col-md-6 col-sm-6">
<!--                  <label class="control-label col-xs-3 col-sm-3">min </label>-->
                  <div class="form-group">
                    <input type="number" min="1" value="20" class="form-control" id="minPoints" required >
                  </div>

<!--                  <label class="control-label col-xs-3 col-sm-3">max </label>-->
                  <div class="form-group">
                    <input type="number" min="1" value="30" class="form-control" id="maxPoints" required >
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Дата окончания *<br>
<!--                  <span class="text-warning">{{_ 'This_feature_is_under_development'}}</span>-->
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="date" value="2020-03-08" class="form-control has-feedback-left" id="expire" placeholder="Date of Expire">
                  <span class="fa fa-calendar-o form-control-feedback left"></span>
                </div>
              </div>
              
              
							<div class="actionBar">
								<button type="submit" id="create" class="btn btn-success">Создать</button>
							</div>
            </form>
          </div>
        </div>
      </div>
    
    
    </div>
  
  </div>

</template>