<template name="editAction">
	<div class="page-title">
		<div class="title_left">
			<h3>Просмотр акции</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<a href="{{pathFor 'actionsList'}}" class="btn btn-success pull-right">Все акции</a>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-9 col-sm-12">
			<div class="x_panel">
				<div class="x_content">

					<form id="form" class="form-horizontal form-label-left">
					<!--								            {{#with action}}-->

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Название акции</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text" class="form-control" id="name" required data-error="Заполните это поле" name="name"
											 value="{{action.name}}">
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Бюджет (очков)</label>
							<div class="form-inline col-md-6 col-sm-6">
								<!--                  <label class="control-label col-xs-3 col-sm-3">min </label>-->
								<div class="form-group">
									<input type="text" disabled value="{{action.budget}}" class="form-control" id="budget">
								</div>
								<span>&nbsp; из &nbsp;</span>
								<!--                  <label class="control-label col-xs-3 col-sm-3">max </label>-->
								<div class="form-group">
									<input type="text" disabled value="{{action.current}}" class="form-control" id="current">
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="type" class="control-label col-md-3 col-sm-3 col-xs-12">Условие - действие с единицей </label>
							<div class="col-xs-12 col-sm-9">
								<select id="type" disabled class="form-control">
									<option {{isSelected action.type
																			 'item'}} value="item">Товара
									</option>
									<option {{isSelected action.type
																			 'survey'}} value="survey">Опроса/Теста
									</option>
									<option {{isSelected action.type
																			 'video'}} value="video">Видео
									</option>
								</select>
							</div>
						</div>


						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Добавить очки: min, max </label>
							<div class="form-inline col-md-6 col-sm-6">
								<!--                  <label class="control-label col-xs-3 col-sm-3">min </label>-->
								<div class="form-group">
									<input type="text" disabled value="{{action.minPoints}}" class="form-control" id="minPoints">
								</div>

								<!--                  <label class="control-label col-xs-3 col-sm-3">max </label>-->
								<div class="form-group">
									<input type="text" disabled value="{{action.maxPoints}}" class="form-control" id="maxPoints">
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Срок действия*<br>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
								<input type="date" data-error="Введите корректную дату" min="2020-01-01" value="{{datepicker
												action.expire}}" class="form-control has-feedback-left" id="expire" placeholder="Срок действия">
								<span class="fa fa-calendar-o form-control-feedback left"></span>
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Статус</label>
							<div class="col-xs-12 col-sm-9">
								<select id="status" class="form-control">
									<option {{isSelected action.status
																			 'active'}} value="active">Активная
									</option>
									<option {{isSelected action.status
																			 'disabled'}} value="disabled">Архивная
									</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Создана </label>
							<div class="col-xs-12 col-sm-9">
								<input type="datetime" class="form-control" disabled value="{{action._createdAt}}">
							</div>
						</div>


									<!--					{{/with}}-->


						<br>
						<br>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Настройки</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<button type="button" class="btn btn-danger" id="remove"><i class="fa fa-trash"></i> Удалить</button>
							</div>
						</div>


					</form>

				</div>
			</div>
		</div>
	</div>
</template>