<template name="maintemplate">
	<div class="container body">
		<div class="main_container" style="min-height: 100vh; background: rgb(247,247,247)">
			{{>leftCol}}

			<!-- page contents -->
			<div class="right_col" role="main" style="min-height: 100vh">

				{{#if loaded}}
					{{#if currentUser}}
						{{#if currentUser.emails.[0].verified}}
							{{#if currentUser.company}}

								{{> pageContent}}

							{{else}}

								{{> loginForm}}
							{{/if}}

						{{else}}
							<div></div>
							{{> loginForm}}
						{{/if}}

					{{else}}
						{{> loginForm}}
					{{/if}}

				{{else}}
					<div style="position: absolute;top: calc(100vh / 2 - 100px);left: calc(100vw / 2 - 100px);">
						{{> loadtemp}}
					</div>
				{{/if}}
			</div>
			<!-- /page contents -->

			<!-- footer contents -->
			{{>footer}}
			<!-- /footer contents -->

		</div>
	</div>
</template>

<template name="pageContentEmpty">
	<div class="container body">
		<div class="main_container">
			{{>leftCol}}
			<!-- top navigation -->

			<!-- /top navigation -->

			<!-- page contents -->
			<div class="right_col" id="root" role="main">
				{{> pageContent}}
			</div>
			<!-- /page contents -->

			<!-- footer contents -->
			{{>footer}}
			<!-- /footer contents -->

		</div>
	</div>
</template>