<template name="SurveyTextAnswers">
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">Текстовый ответ: </label>
		<div class="col-xs-12 col-sm-9">
			<div style="">
				<textarea rows="5" class="form-control" placeholder="Свой ответ"></textarea>
				<div style="height: 0.5em"></div>
			</div>

		</div>
	</div>
</template>