<template name="SurveyAddQuestionModal">
	<style>
		.answers-preview .question-answer-option:hover {
			cursor: default;
		}

		.answers-preview .delete-answer-option {
			display: none;
		}

		#addQuestionModal .sidebar-left {
			border-right: #1b6d85 solid medium;
		}

		#addQuestionModal {
			font-size: larger;
		}
	</style>

	<div id="addQuestionModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg " role="document">
			<div class="modal-content">
				<div class="modal-body" style="padding: 0">
					<div class="panel-default">
						<div class="panel-heading">Какой вопрос вы хотите добавить?</div>
						<div class="panel-body">
							<div class="row">
								<div class="sidebar-left col-xs-12 col-md-3">
									<ul class="nav nav-pills nav-stacked">
										<li class="active"><a data-toggle="pill" href="#sample-answer-select-single">Выбор одного
											варианта</a></li>
										<li><a data-toggle="pill" href="#sample-answer-select-multiple">Выбор нескольких вариантов</a></li>
										{{#if $neq survey.test true}}

											<li><a data-toggle="pill" href="#sample-answer-text">Текст</a></li>
											<li><a data-toggle="pill" href="#sample-answer-date">Дата</a></li>
										{{/if}}
										<!--										<li><a data-toggle="pill" href="#sample-answer-slider">Слайдер</a></li>-->
									</ul>
								</div>
								<div class="preview col-md-9">
									<div class="panel panel-default">
										<div class="panel-body" style="padding-bottom: 0;">
											<div class="tab-content">
												<div id="sample-answer-select-single" class="tab-pane in active">
													<h4 class="panel-heading">Респондент выберет один ответ из списка.</h4>
													<div>
														<div class="question-preview" data-required="true" data-questiontype="select">
															<div class="form-group">
																<label class="control-label col-md-3 col-sm-3 col-xs-12">Варианты ответов: </label>
																<div class="col-xs-12 col-sm-9">
																	<div style="visibility: hidden">
																		<input type="text" class="form-control" value="just for spacing">
																		<div style="height: 0.5em"></div>
																	</div>
																	<div class="answers-preview row">

																		<div class="col-xs-12 col-md-12 question-answer-option--wrapper">
																			<div class="col-xs-12 col-md-12 question-answer-option">
																				<input class="col-md-1" style="margin-top: 0.5em;" name="answer" type="radio">
																				<input type="text" placeholder="Вариант ответа"
																							 class="col-md-10 question-field-answer" value="Ответ 1">

																				<div class="col-md-1 delete-answer-option"><i style="padding:2px"
																																											class="btn btn-danger fa fa-trash"
																																											aria-hidden="true"></i></div>
																			</div>

																		</div>

																		<div class="col-xs-12 col-md-12 question-answer-option--wrapper">
																			<div class="col-xs-12 col-md-12 question-answer-option">
																				<input class="col-md-1" style="margin-top: 0.5em;" name="answer" type="radio">
																				<input type="text" placeholder="Вариант ответа"
																							 class="col-md-10 question-field-answer" value="Ответ 2">

																				<div class="col-md-1 delete-answer-option"><i style="padding:2px"
																																											class="btn btn-danger fa fa-trash"
																																											aria-hidden="true"></i></div>
																			</div>
																		</div>

																		<div class="col-xs-12 col-md-12 question-answer-option--wrapper">
																			<div class="col-xs-12 col-md-12 question-answer-option">
																				<input class="col-md-1" style="margin-top: 0.5em;" name="answer" type="radio">
																				<input type="text" placeholder="Вариант ответа"
																							 class="col-md-10 question-field-answer" value="Ответ 3">

																				<div class="col-md-1 delete-answer-option"><i style="padding:2px"
																																											class="btn btn-danger fa fa-trash"
																																											aria-hidden="true"></i></div>
																			</div>

																		</div>

																		<div class="col-xs-12 col-md-12 question-answer-option--wrapper">
																			<div class="col-xs-12 col-md-12 question-answer-option">
																				<input class="col-md-1" style="margin-top: 0.5em;" name="answer" type="radio"
																							 value="Ответ 4">
																				<input type="text" placeholder="Вариант ответа"
																							 class="col-md-10 question-field-answer" value="Ответ 4">

																				<div class="col-md-1 delete-answer-option"><i style="padding:2px"
																																											class="btn btn-danger fa fa-trash"
																																											aria-hidden="true"></i></div>
																			</div>
																		</div>

																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
												<div id="sample-answer-select-multiple" class="tab-pane">
													<h4 class="panel-heading">Респондент выберет несколько ответов из списка.</h4>
													<div>
														<div class="question-preview" data-required="true" data-multiple="true"
																 data-questiontype="select">
															<div class="form-group">
																<label class="control-label col-md-3 col-sm-3 col-xs-12">Варианты ответов: </label>
																<div class="col-xs-12 col-sm-9">
																	<div style="visibility: hidden">
																		<input type="text" class="form-control" value="just for spacing">
																		<div style="height: 0.5em"></div>
																	</div>
																	<div class="answers-preview row">
																		
																		<div class="col-xs-12 col-md-12 question-answer-option--wrapper">
																			<div class="col-xs-12 col-md-12 question-answer-option">
																				<input class="col-md-1" style="margin-top: 0.5em;" name="answer"
																							 type="checkbox">
																				<input type="text" placeholder="Вариант ответа"
																							 class="col-md-10 question-field-answer" value="Ответ 1">
																				
																				<div class="col-md-1 delete-answer-option"><i style="padding:2px"
																																											class="btn btn-danger fa fa-trash"
																																											aria-hidden="true"></i></div>
																			</div>
																		
																		</div>
																		
																		<div class="col-xs-12 col-md-12 question-answer-option--wrapper">
																			<div class="col-xs-12 col-md-12 question-answer-option">
																				<input class="col-md-1" style="margin-top: 0.5em;" name="answer"
																							 type="checkbox">
																				<input type="text" placeholder="Вариант ответа"
																							 class="col-md-10 question-field-answer" value="Ответ 2">
																				
																				<div class="col-md-1 delete-answer-option"><i style="padding:2px"
																																											class="btn btn-danger fa fa-trash"
																																											aria-hidden="true"></i></div>
																			</div>
																		</div>
																		
																		<div class="col-xs-12 col-md-12 question-answer-option--wrapper">
																			<div class="col-xs-12 col-md-12 question-answer-option">
																				<input class="col-md-1" style="margin-top: 0.5em;" name="answer"
																							 type="checkbox">
																				<input type="text" placeholder="Вариант ответа"
																							 class="col-md-10 question-field-answer" value="Ответ 3">
																				
																				<div class="col-md-1 delete-answer-option"><i style="padding:2px"
																																											class="btn btn-danger fa fa-trash"
																																											aria-hidden="true"></i></div>
																			</div>
																		
																		</div>
																		
																		<div class="col-xs-12 col-md-12 question-answer-option--wrapper">
																			<div class="col-xs-12 col-md-12 question-answer-option">
																				<input class="col-md-1" style="margin-top: 0.5em;" name="answer" type="checkbox"
																							 value="Ответ 4">
																				<input type="text" placeholder="Вариант ответа"
																							 class="col-md-10 question-field-answer" value="Ответ 4">
																				
																				<div class="col-md-1 delete-answer-option"><i style="padding:2px"
																																											class="btn btn-danger fa fa-trash"
																																											aria-hidden="true"></i></div>
																			</div>
																		</div>
																	
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
												{{#if $neq survey.test true}}
													<div id="sample-answer-text" class="tab-pane ">
														<h4 class="panel-heading">Используйте это, чтобы получить развернутый ответ или
															комментарий.</h4>
														<div>
															<div class="question-preview" data-required="true" data-questiontype="text">
																<div class="form-group">
																	<label class="control-label col-md-3 col-sm-3 col-xs-12">Текстовый ответ: </label>
																	<div class="col-xs-12 col-sm-9">
																		<div style="">
																			<textarea rows="5" class="form-control" placeholder="Свой ответ"></textarea>
																			<div style="height: 0.5em"></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div id="sample-answer-date" class="tab-pane ">
														<h4 class="panel-heading">Респондент сможет выбрать дату какого-то события.</h4>
														<div>
															<div class="question-preview" data-required="true" data-questiontype="date">
																<div class="form-group">
																	<label class="control-label col-md-3 col-sm-3 col-xs-12">Выберите дату: </label>
																	<div class="col-xs-12 col-sm-9">
																		<div style="">
																			<input type="date" class="form-control">
																			<div style="height: 0.5em"></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												{{/if}}
											</div>

											<br>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="addQuestionModalButton" class="btn btn-primary">Добавить</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
</template>