<template name="SurveyDateAnswers">
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">Выберите дату: </label>
		<div class="col-xs-12 col-sm-9">
			<div style="">
				<input type="date" class="form-control">
				<div style="height: 0.5em"></div>
			</div>

		</div>
	</div>
</template>