<template name="SurveySelectAnswers">

	<div class="form-group">
		<div class="col-xs-12">
			<label class="control-label col-md-3 col-sm-3 col-xs-12">Варианты ответов:</label>
		</div>
		<div class="col-xs-12 col-md-12 col-sm-12">
			<div class="answers-sortable row">
				{{#each answer in question.answers}}
					<div class="col-xs-12 col-md-12 col-sm-12 question-answer-option--wrapper">
						<div class="col-xs-3 col-sm-3" style="padding-top: 1em; text-align: right">
							Ответили: {{getPercent answer.answered question.answered}}%
						</div>
						<div class="col-xs-9 col-sm-9 question-answer-option " data-id="{{answer._id}}">
							<input class="col-md-1 col-sm-1 " style="margin-top: 0.5em;"
										 name="answer" type="{{radioOrCheckbox question}}">
							<input type="text" placeholder="Вариант ответа" class="col-xs-9 col-sm-9 question-field-answer" style=""
										 value="{{answer.text}}">

							<div class="com-xs-2 col-sm-2 col-md-2 col-lg-2" style="display: flex; justify-content: flex-end;">
								<div class="delete-answer-option" style="margin-left: 8px"><i style="padding:2px"
																																								class="btn btn-danger fa fa-trash"
																																								aria-hidden="true"></i></div>
							</div>
						</div>

					</div>
				{{/each}}
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-12 col-xs-12">
					<div class="col-xs-3"></div>
					<div class="btn btn-default add-answer-option col-xs-9" style="margin-right: 0"> + Добавить ответ</div>
				</div>

				{{#if isCustomAnswerPossible question}}
					<div class="" style="margin-top: 3.5em">
						<div class="col-xs-3 col-sm-3" style="padding-top: 1em; text-align: right">
							Ответили: {{getPercent question.customAnswered question.answered}}%
						</div>
						<div class="col-xs-9 col-sm-9 question-answer-option--wrapper">
							<div class="col-xs-12 col-md-12 col-sm-12 question-answer-option custom-answer">
								<label class="ios7-switch col-xs-2 col-sm-1" style="font-size: 1em">
									<input type="checkbox" id="{{_id}}" data-name="customAnswer"
												 class="primary question-field" {{customAnswerChecked question}}>
									<span></span>
								</label>
								<input type="text" class="custom-answer col-md-10 col-sm-10" {{customAnswerDisabled question}}
											 value="Свой ответ">
							</div>
						</div>
					</div>

				{{/if}}
			</div>
		</div>
	</div>

</template>