<html>
<head>
	<meta charset="utf-8">
	<title>Keyscans</title>
	<meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">

	<link rel="icon" href="/images/fav.ico" type="image/icon">

	<!-- Stylesheets-->
	<link rel="stylesheet" type="text/css"
				href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CRubik:300,300i,500,700,900%7CMontserrat:400,700">
	<link rel="stylesheet" href="/css/fonts.css">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/pnotify.css" rel="stylesheet">


	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/custom.min.css" rel="stylesheet">


	<style>
		.login_content h1:before, .login_content h1:after {
			background: transparent;
		}

		.center-div {
			margin: 0 auto;
			width: 60% /* value of your choice which suits your alignment */
		}

		.fof.success {
			color: #3c763d;
			/*background-color: #dff0d8;*/
			/*border-color: #d6e9c6;*/
		}

		.fof.error {
			color: #a94442;
			/*background-color: #f2dede;*/
			/*border-color: #ebccd1;*/
		}

		h1.fof {
			font-size: 30px;
			display: inline-block;
			padding-right: 12px;
		}

		.login_content h1 {
			margin-top: 0;
		}

		.login_content h1:before, .login_content h1:after {
			background: transparent;
		}
	</style>
</head>

<body class="nav-md">

<div class="container body">
	<div class="main_container">
		<div class="right_col" role="main" style="margin-left:0; min-height: 100vh;">
			<div class="login_wrapper" style="margin-top: 35vh">
				<div class="">
					<section class="login_content">
						<form id="enter" class="form_350">
							<h1 class="fof {{type}}">{{text}}</h1>
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/pnotify.js"></script>


</body>


</html>
