<html lang="en">
<head>
	<title>{{survey.title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/fav.ico" type="image/icon">

	<link rel="stylesheet" type="text/css"
				href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CRubik:300,300i,500,700,900%7CMontserrat:400,700">
	<link rel="stylesheet" href="/css/fonts.css">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/pnotify.css" rel="stylesheet">


	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/custom.min.css" rel="stylesheet">

	<style>
		[contenteditable] {
			cursor: text;
		}

		.block-overlay {
			background: rgba(0, 0, 0, .6);
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 75;

			transition: opacity 0.2s linear;
			/*animation: fadein .3s;*/
		}

		.question.active-question {
			background: #fff;
			position: relative; /*почему-то без posrel или abs z-index не работает*/
			z-index: 100;
		}

		.visuallyAndPointerHidden {
			opacity: 0;
			pointer-events: none;
		}

		@keyframes fadein {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		@keyframes fadeout {
			from {
				opacity: 1;
			}
			to {
				opacity: 0;
			}
		}


		.opacity-half {
			opacity: 0.3;
			background: rgba(26, 187, 156, 0.4);
		}

		.question-wrapper {
			position: relative;
			margin-bottom: 20px;
		}

		.question-wrapper:last-child {
			/*margin-bottom: 0;*/
		}

		.question-overlay {
			overflow-x: visible;
			cursor: pointer;
			opacity: 0;
			/*background-color: transparent;*/
			transition: background-color 100ms linear, opacity 100ms linear;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 10;
			/*pointer-events: all;*/
			outline: #4b82d6 dashed 2px;
			background-color: rgba(255, 255, 255, 0.5);
		}

		.question-overlay .add-icon {
			font-size: 20px;
			line-height: 20px;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			background: white;
			color: #4b82d6;

			transition: all 50ms linear;
		}

		.question-overlay:hover {
			/*z-index: 10;*/
		}

		.question-overlay .add-icon:hover {
			font-size: 25px;
			line-height: 25px;
			left: 50%;
			margin-left: -12.5px;
		}

		.question-overlay .add-icon[data-position='before'] {
			top: -10.5px;
		}

		.question-overlay .add-icon[data-position='before']:hover {
			top: -13.5px;
		}

		.question-overlay .add-icon[data-position='after'] {
			bottom: -10.5px;
		}

		.question-overlay .add-icon[data-position='after']:hover {
			bottom: -13.5px;
		}

		.question-wrapper:hover > .question-overlay {
			/* display: block; */
			opacity: 1;
		}

		.question-wrapper:hover .question-toolbox {
			display: block;
		}

		.question-wrapper .question-toolbox {
			/*display: none;*/
			position: absolute;
			right: 0;
			top: 0;
			/*z-index: 5;*/
			font-size: large;
			background: #00aeef;
			/*padding: 0.2em;*/
		}

		.question-toolbox > div {
			margin: 0;
			display: inline-block;
			padding: 0.3em;
			font-size: large;
			color: white;
			transition: all 100ms ease-in-out;
		}

		.question-toolbox > div:hover {
			background: #4b82d6;
			cursor: pointer;
		}


		.question {
			padding-top: 1em;
			padding-bottom: 1em;
			padding-right: 10px;
			outline-offset: 2px;
			z-index: auto;
		}

		.question.active-question {
			z-index: 100;
		}

		.question-move-placeholder {
			font-size: 16px;
			line-height: 1;
			position: relative;
			height: 32px;
			background: rgba(255, 0, 0, 0.25);
		}

		.question-move-placeholder:after {
			position: absolute;
			width: 200px;
			top: 8px;
			left: 50%;
			margin-left: -50px;
			content: 'Переместить сюда';
		}

		.question-copy-placeholder {
			font-size: 16px;
			line-height: 1;
			position: relative;
			height: 32px;
			background: rgba(255, 0, 0, 0.25);
		}

		.question-copy-placeholder:after {
			position: absolute;
			width: 200px;
			top: 8px;
			left: 50%;
			margin-left: -50px;
			content: 'Копировать сюда';
		}

		.question-title {
			font-weight: bold;
		}

		.question[data-required='true'] .question-label:after {
			content: '*';
		}

		.question-answer-option input {
			transition: all 0.2s linear;
		}

		.question-answer-option input.custom-answer:disabled {
			color: rgba(145, 146, 153, 0.76);
		}

	</style>
	<style> /*Для select*/
	/*Не могу оставить в SelectAnswers, т.к. тогда в AddQuestionModal не будет этих стилей*/
	.question-answer-option--wrapper {
		position: relative;
		padding-bottom: 1em;
	}

	.question-answer-option--wrapper > .move-handle {
		display: block;
		position: absolute;
		right: 0.4em;
		top: 0.2em;

		height: 26px;
		width: 26px;

		color: black;

	}

	.question-answer-option {
		background: #f8f8f8;
		padding: 10px 5px 10px;
		color: #383838;
		font-size: 1.5em;
		box-sizing: border-box;
		border: 1px solid hsla(0, 0%, 90%, .36);
		border-radius: 4px;
		box-shadow: 1px 2px 1px 0 rgba(0, 1, 1, .07);
	}

	/*.question-answer-option--placeholder {
          outline: rgba(75, 130, 214, 0.68) solid 1px;
          height: 4em;
          margin-bottom: 1em;
      }*/

	.question-answer-option > label {
		font-weight: 400;
	}

	.question-answer-option .custom-answer {
		border-radius: 4px;
		border-style: none;
		padding-left: 5px;
		padding-right: 5px;
	}

	.question-answer-option input[type='text'] {
		background: transparent;
		border: 0;
	}

	</style>

	<style>
		p {
			font-size: 15px;
		}

		.form-control {
			font-size: 1.5em;
		}

		body {
			background: rgb(250, 250, 250)
		}

		.question-title {
			font-weight: bold;
		}

		.question-answer-option {
			/* background: #f8f8f8; */
			background: none;
			padding: 10px 5px 10px;
			color: #383838;
			font-size: 1.5em;
			box-sizing: border-box;
			border: none;
			margin-bottom: 0;
			box-shadow: none;
		}

		.answers {
			margin-bottom: 2em;
		}

		.question-answer-option {
			padding: 0 5px;
		}

		.question-answer-option > label {
			padding-left: 2em;
			margin-left: -5px;
		}
		
		/* Hide the browser's default checkbox */
		.question-answer-option input[type="checkbox"], .question-answer-option input[type="radio"]{
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}
		
		/* Create a custom checkbox */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 25px;
			width: 25px;
			background-color: #eee;
		}

		.question-answer-option input[type='radio'] ~ .checkmark{
			border-radius: 50%;
		}

		/* On mouse-over, add a grey background color */
		.question-answer-option:hover input ~ .checkmark {
			background-color: #ccc;
		}
		
		/* When the checkbox is checked, add a blue background */
		.question-answer-option input:checked ~ .checkmark {
			background-color: rgba(42, 63, 84, 0.78);
		}
		
		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}
		
		/* Show the checkmark when checked */
		.question-answer-option input:checked ~ .checkmark:after {
			display: block;
		}
		
		/* Style the checkmark/indicator */
		.question-answer-option .checkmark:after {
			left: 8px;
			top: 3px;
			width: 8px;
			height: 15px;
			border: solid white;
			border-width: 0 4px 4px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		.question-answer-option input[type='radio'] ~ .checkmark:after {
			top: 0.28em;
			left: 0.29em;
			width: 0.7em;
			height: 0.7em;
			border-radius: 50%;
			background-color: white;
		}
	</style>
</head>


<body>
{{#with survey}}
	<input type="text" style="display: none" id="survey_id" value="{{_id}}">
	<div class="row">
		<div>
			<div class="x_panel" style="min-height: 100vh">
				<div class="x_content" style="padding: 0 10%">
					<div class="form-horizontal form-label-left">
						<div class="" style="">
							<div style="display: flex; justify-content: flex-start; align-items: center;">
								{{#if img}}
									<img src="{{linkx img}}" style="max-height: 80px"
											 alt="{{title}}" id="mainim">
								{{/if}}
								<h3 style="display: block">{{title}}</h3>
							</div>
							{{#if description}}
								<br>
								<p>{{description}}</p>
							{{/if}}

						</div>
						<div class="form-group">
							<div class="col-xs-12 col-sm-9">
								<div style="">

									<div style="height: 0.5em"></div>
								</div>
							</div>
						</div>

						<br>
						<br>

						{{#each question in questions}}
							<div class="question" id="question-{{surveyId}}-{{question._id}}" data-question-id="{{question._id}}"
									 data-required="{{isRequired question}}"
									 data-multiple="{{isMultiple question}}"
									 data-customanswer="{{isCustomAnswer question}}" data-questiontype="{{questionType question}}"
									 data-title="{{question.title}}">

								<p class="question-label question-title">{{question.title}} ({{russianPoints question.points}})</p>
								{{#if question.description}}
									<p>{{question.description}}</p>
								{{/if}}

								{{#if equal question.type "select"}}
									<div class="answers col-xs-12">
										{{#each answer in question.answers}}
											<div class="">
												<div class="col-xs-12 question-answer-option " data-id="{{answer._id}}">
													<input class="col-xs-2 col-sm-1 answer" style="margin-top: 0.5em;"
																 name="answer{{question._id}}" id="{{answer._id}}" data-answer-id="{{answer._id}}"
																 type="{{radioOrCheckbox question}}">
													<span class="checkmark"></span>
													<!--name - если не указывать, то браузер не понимает, что это группа input'ов-->
													<label for="{{answer._id}}"
																 class="col-xs-10 col-sm-11 question-field-answer"
													>{{answer.text}}</label>
												</div>
											</div>
										{{/each}}
									</div>
								{{/if}}

								{{#if equal question.type "text"}}
									<div class="form-group">
										<div class="col-xs-12">
											<div style="">
												<textarea rows="3" class="form-control" placeholder=""></textarea>
												<div style="height: 0.5em"></div>
											</div>
										</div>
									</div>
								{{/if}}
								{{#if equal question.type "date"}}
									<div class="form-group">
										<div class="col-xs-12">
											<div style="">
												<input type="date" class="form-control" value="2020-10-20">
												<div style="height: 0.5em"></div>
											</div>
										</div>
									</div>
								{{/if}}
							</div>
						{{/each}}

						<br>
						<br>
						<div class="form-group">
							<!--								<label class="control-label col-md-3 col-sm-3 col-xs-12">Настройки </label>-->
							<div class="">
								<button class="btn btn-success" id="answer" onclick="answerSurvey()"> Отправить ответ</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{{/with}}

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/pnotify.js"></script>
<script src="/js/renderAnswerTest.js"></script>
</body>

</html>