<template name="contentsList">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Новостные посты</h3>
			</div>

			<div class="title_right">
				<div class="form-group pull-right">
					<a href="{{pathFor 'addContent'}}" class="btn btn-success"><i class="fa fa-user-plus"></i> Добавить пост</a>
				</div>
			</div>
		</div>

		<!--<div class="clearfix"></div>-->

		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
							<table class="table table-striped table-bordered ">
								<thead>
								<tr>
									<th>Название</th>
									<th>Создан</th>
									<th>Опрос</th>
								</tr>
								</thead>

								<tbody>
								{{#each contents}}
									<tr>
										<td><a href="{{pathFor 'editContent' id=_id}}"><u>{{title}}</u></a></td>
										<td>{{created _createdAt}}</td>
										<td>
											<a href="{{pathFor 'surveysList'}}" class="btn btn-xs btn-primary"><i
															class="fa fa-line-chart"></i> </a>
											{{#if isSurvey survey}}
												<a href="{{pathFor 'editSurvey' id=survey}}" class="btn btn-xs btn-info"><i
																class="fa fa-edit"></i>
												</a>
												<a href="{{pathFor 'editSurvey' id=survey}}"><u>{{surveyTitle survey}}</u></a>
											{{else}}
												<span class="">Не найден</span>
											{{/if}}
										</td>
									</tr>
								{{/each}}
								</tbody>
							</table>

						</div>
						<!-- end project-detail sidebar -->

					</div>
				</div>
			</div>
		</div>
	</div>

</template>