<template name="editContent">
	<style>
		.thumbnail {
			height: 160px;
			overflow: hidden;
		}

		.thumbnail .image {
			height: 100%;
			overflow: hidden;
		}

		.view .mask {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
			top: 0;
			left: 0;
		}

		.mask .tools {
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 100%;
		}

		.view-first img {
			transition: all .2s linear;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}

		label.link:hover {
			cursor: pointer;
			opacity: 0.7;
			transition: 0.2s;
		}

		.images-sortable .mask{
			cursor: grab;
		}

		.images-sortable .tools{
			cursor: default;
		}

		.not-sortable .mask{
			cursor: default;
		}

	</style>

	<div class="page-title">
		<div class="title_left">
			<h3>Редактировать пост</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<a href="{{pathFor 'contentsList'}}" class="btn btn-success pull-right">Все посты</a>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-9 col-sm-12">

			<div class="x_panel">
				<br>
				<div class="form-horizontal form-label-left">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12"> Название</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input class="form-control" data-field="title" type="text" value="{{content.title}}">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12"> Текст</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<textarea class="form-control" data-field="text" value="{{content.text}}"></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="survey"> Опрос
						</label>
						<div class="col-xs-12 col-sm-9">
							<select id="survey" class="form-control" data-field="survey">
								<option></option> <!--Опрос опционален-->
								{{#each survey in surveys}}
									<option {{isSelected content.survey survey._id}}
													value="{{survey._id}}">{{survey.title}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>


				<div class="x_title">
					<h2>Изображения</h2>
					<ul class="nav navbar-right panel_toolbox" style="min-width: fit-content">
						<li><a data-toggle="collapse" href="#collapse" ><i class="fa fa-chevron-up"></i></a>
						</li>
						<li><a class="close-link hidden"><i class="fa fa-close"></i></a> <!--Почему-то без этой кнопки не работает "свернуть"-->
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">

					<div class="row panel-collapse collapse in" id="collapse">

						<div class="images-sortable">
							{{#each image in content.images}}
								<div class="col-sm-3 col-md-4 col-lg-3">
									<div class="thumbnail">
										<div class="image view view-first">
											<img class="image-source"
													 src="{{linkx image}}"
													 alt="image">
											<div class="hidden file-id">{{image}}</div>
											<div class="mask no-caption">
												<div class="tools" style="font-size: 1.5em;">
													<label class="link change-image"><input type="file" accept="image/jpeg,image/png,image/gif"
																																	class="hidden content-image"
													><!--accept игнорируется, это плохо--><i
																	class="fa fa-pencil"></i></label>
													<span> </span>
													<label class="link remove-image"><i class="fa fa-times"></i></label>
												</div>
											</div>
										</div>

									</div>
								</div>
							{{/each}}
							<div class="not-sortable col-sm-3 col-md-4 col-lg-3">
								<div class="thumbnail">
									<div class="image view view-first">
										<img class="image-source"
												 src="/images/empty.png"
												 alt="image">
										<div class="mask no-caption">
											<div class="tools" style="font-size: 2.0em;">
												<label class="link add-image"><input type="file" accept="image/jpeg,image/png,image/gif"
																																class="hidden add-image"
												><!--accept игнорируется, это плохо--><i
																class="fa fa-plus"></i></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Настройки</label>
						<div class="col-xs-12 col-sm-9">
							<button type="button" class="btn btn-danger" id="remove"><i class="fa fa-trash"></i> Удалить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>