<template name="viewTestResult">

	<div class="page-title">
		<div class="title_left">
			<h3>Редактировать тест (ответили: {{getNumber survey.answered}})</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<a href="{{pathFor 'testsList'}}" class="btn btn-success pull-right">Все тесты</a>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-10 col-sm-12">
			<div class="x_panel">
				<div class="x_content">
					<div class="form-horizontal form-label-left">
						{{#with test}}
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Название* </label>
								<div class="col-xs-12 col-sm-9">
									<input type="text" class="form-control test-field" data-name="title" value="{{title}}">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Описание: </label>
								<div class="col-xs-12 col-sm-9">
									<div style="">
										<textarea class="form-control test-field" data-name="description"
															placeholder="Зачем он вам">{{description}}</textarea>
										<div style="height: 0.5em"></div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Статус</label>
								<div class="col-xs-12 col-sm-9">
									<select id="status" class="form-control test-field" data-name="status">
										<option {{isSelected status
																				 'active'}} value="active">Активный
										</option>
										<option {{isSelected status
																				 'disabled'}} value="disabled">Архивный
										</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="action">Акция
								</label>
								<div class="col-xs-12 col-sm-9">

									<select id="action" class="form-control test-field" data-name="action">
										<option></option>
										{{#each actions}}
											<!--Пустая. Акция опциональна (акция дает доп. баллы к опросу, но опрос и без нее хорошо справляется).-->
											<option {{isSelected test.action _id}}
															value="{{_id}}">{{name}}</option>
										{{/each}}
									</select>
								</div>
							</div>

							<br>
							<h2 class="title_left" style="font-size: 1.5em">Вопросы:</h2>
							<br>

							{{> SurveyQuestionsList }} <!--test=_id-->


							<br>
							<br>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Настройки </label>
								<div class="col-xs-12 col-sm-9">
									<button class="btn btn-danger" id="remove"><i class="fa fa-trash"></i> Удалить</button>
								</div>
							</div>
						{{/with}}

					</div>
				</div>
			</div>
		</div>
	</div>


</template>