<template name="addVideo">
	<div class="page-title">
		<div class="title_left">
			<h3>Добавление видео</h3>
		</div>
		
		<div class="title_right">
			<div class="form-group pull-right input-group">
				<div class="input-group">
					<a href="{{pathFor 'videosList'}}" class="btn btn-primary"><span class="fa fa-list"></span> Видео</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<div class="row">
		<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				
				<div class="x_content">
					
					<div class="form_wizard wizard_horizontal">
						<div class="form-horizontal form-label-left">
							
							
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Название
								</label>
								<div class="col-xs-12 col-sm-9">
									<input type="text" id="name" class="form-control">
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="action">Акция
								</label>
								<div class="col-xs-12 col-sm-9">
									
									<select id="action" class="form-control">
										{{#each actions}}
											<option value="{{_id}}">{{name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="survey">Опрос
								</label>
								<div class="col-xs-12 col-sm-9">
									<select id="survey" class="form-control">
										<option></option> <!--тут может быть пусто-->
										{{#each surveys}}
											<option value="{{_id}}">{{title}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Загрузить видео</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="hidden" class="hidden" id="fileId" value="">
									<input type="file" class="" id="videoFile">
								</div>
							</div>
						
						
						</div>
						
						<div class="actionBar">
							<a href="#" id="create" class="btn btn-success">Создать</a>
						</div>
					
					</div>
				
				</div>
			</div>
		</div>
	</div>

</template>