<template name="editVideo">
	<div class="page-title">
		<div class="title_left">
			<h3>Редактирование видео {{video._id}}</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<div class="input-group">
					<a href="{{pathFor 'videosList'}}" class="btn btn-primary"><span class="fa fa-list"></span> Видео</a>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">

				<div class="x_content">

					<div class="form_wizard wizard_horizontal">
						<div class="form-horizontal form-label-left">

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">ID
								</label>
								<div class="col-xs-12 col-sm-9">
									<input type="text" disabled="disabled" class="form-control" value="{{video._id}}">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Создано
								</label>
								<div class="col-xs-12 col-sm-9">
									<input type="text" disabled="disabled" class="form-control" value="{{date _createdAt}}">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Название
								</label>
								<div class="col-xs-12 col-sm-9">
									<input type="text" id="name" class="form-control video" data-field="name" value="{{video.meta.name}}">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="action">Акция
								</label>
								<div class="col-xs-12 col-sm-9">

									<select id="action" class="form-control video" data-field="action">
										{{#each action in actions}}
											<option {{isSelected video.meta.action action._id}}
															value="{{action._id}}">{{action.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="survey">Опрос
								</label>
								<div class="col-xs-12 col-sm-9">

									<select id="survey" class="form-control video" data-field="survey">
										<option></option> <!--пустой. Survey опционален-->
										{{#each survey in surveys}}
											<option {{isSelected video.meta.survey survey._id}} value="{{survey._id}}">{{survey.title}}</option>
										{{/each}}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Статус</label>
								<div class="col-xs-12 col-sm-9">
									<select id="companyStatus" class="video form-control" data-field="status">
										<option value="active" {{isSelected video.status
																												'active'}}>Показывать юзерам
										</option>
										<option value="disabled" {{isSelected video.status
																													'disabled'}}>Скрыть от юзеров
										</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Управление</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<!--{{#unless video.meta.active}}
										<button id="activate" class="btn btn-success">Опубликовать/Активировать</button>{{/unless}}-->
									<button id="remove" class="btn btn-danger"><i class="fa fa-trash"></i> Удалить</button>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

</template>