<template name="videosList">
	<div class="page-title">
		<div class="title_left">
			<h3>Видео</h3>
		</div>

		<div class="title_right">
			<div class="form-group pull-right input-group">
				<div class="input-group">
					<a href="{{pathFor 'addVideo'}}" class="btn btn-primary"><span
									class="fa fa-plus"></span> Добавить видео</a>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>


	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_content">

					<table class="table table-striped table-bordered <!--{{#if loadervar}}hidden{{/if}}-->">
						<thead>
						<tr>
							<th>Название</th>
							<th>Создано</th>
							<th>Акция</th>
							<th>Опрос</th>
							<th>Пользователь</th>
							<th>Размер</th>
							<th>Просмотры</th>
							<th>Запущено?</th>
						</tr>
						</thead>
						<tbody>
						{{#each videos}}
							<tr class="{{#if meta.active}}success{{/if}}">
								<td>
									<a href="{{pathFor 'editVideo' id=_id}}" class="btn btn-xs btn-primary"><i
													class="fa fa-line-chart"></i> </a>
									<a href="{{pathFor 'editVideo' id=_id}}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i> </a>
									<a href="{{pathFor 'editVideo' id=_id}}"><u>{{#if
													meta.name}}{{meta.name}}{{else}}{{_id}}{{/if}}</u></a></td>

								<td>{{created meta._createdAt}}</td>

								<td>
									<a href="{{pathFor 'actionsList'}}" class="btn btn-xs btn-primary"><i
													class="fa fa-line-chart"></i> </a>
									{{#if isAction meta.action}}
										<a href="{{pathFor 'editAction' id=meta.action}}" class="btn btn-xs btn-info"><i
														class="fa fa-edit"></i>
										</a>
										<a href="{{pathFor 'editAction' id=meta.action}}"><u>{{actionName meta.action}}</u></a>
									{{else}}
										<span class="">Не найдена</span>
									{{/if}}
								</td>
								<td>
									<a href="{{pathFor 'surveysList'}}" class="btn btn-xs btn-primary"><i
													class="fa fa-line-chart"></i> </a>
									{{#if isSurvey meta.survey}}
										<a href="{{pathFor 'editSurvey' id=meta.survey}}" class="btn btn-xs btn-info"><i
														class="fa fa-edit"></i>
										</a>
										<a href="{{pathFor 'editSurvey' id=meta.survey}}"><u>{{surveyTitle meta.survey}}</u></a>
									{{else}}
										<span class="">Не найден</span>
									{{/if}}
								</td>
								<td>
									<a href="{{pathFor 'editUser' id=meta.user}}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i>
									</a>
									<a href="{{pathFor 'editUser' id=meta.user}}"><u>{{username meta.user}} {{username2
													meta.user}}</u></a></td>


								<td>{{def size}}</td>
								<td>{{meta.views}}</td>
								<td>{{russianActive meta.active}}</td>
							</tr>

						{{/each}}
						</tbody>
					</table>

					<!--					<div class="{{#unless loadervar}}hidden{{/unless}} text-center">-->
					<!--Ну вот зачем? На заднем фоне и так значок загрузки! (из mainTemplate)-->
					<!--						{{> loadtemp}}-->
					<!--					</div>-->

				</div>
			</div>
		</div>
	</div>

</template>