<head>
	<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893"/>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-clustering.js"></script>

</head>
<template name="dashboard">
	<div class="clearfix"></div>

	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Карта</h2>

					<div class="clearfix"></div>
				</div>
				<!--<div class="x_content">-->

				<!--<div id="sessions_line" style="height:400px;"></div>-->

				<!--</div>-->

				<div class="x_content">

					<div id="map" style="height:600px;"></div>

				</div>
			</div>
		</div>

	</div>

	<div class="row top_tiles">
		<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<a download="knowMeReader.apk" href="/apps/knowMeReader_0.2.0.apk" class="tile-stats">
				<div class="icon"><i class="fa fa-android"></i></div>
				<div class="count">Reader</div>
				<h3>Know Me Bracelet reader</h3>
				<p>Download Android app.</p>
			</a>
		</div>
		<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<a download="knowMeWriter.apk" href="/apps/knowMeWriter_0.2.0.apk" class="tile-stats">
				<div class="icon"><i class="fa fa-android"></i></div>
				<div class="count">Writer</div>
				<h3>Know Me Bracelet writer</h3>
				<p>Download Android app.</p>
			</a>
		</div>
		<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="tile-stats">
				<div class="icon"><i class="fa fa-apple"></i></div>
				<div class="count">Reader</div>
				<h3>Know Me Bracelet reader</h3>
				<p>Coming soon</p>
			</div>
		</div>
	</div>

</template>