<template name="TestQuestionsList">
	<style>
		[contenteditable] {
			cursor: text;
		}

		.block-overlay {
			background: rgba(0, 0, 0, .6);
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 75;

			transition: opacity 0.2s linear;
			/*animation: fadein .3s;*/
		}

		.question.active-question {
			background: #fff;
			position: relative; /*почему-то без posrel или abs z-index не работает*/
			z-index: 100;
		}

		.visuallyAndPointerHidden {
			opacity: 0;
			pointer-events: none;
		}

		@keyframes fadein {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		@keyframes fadeout {
			from {
				opacity: 1;
			}
			to {
				opacity: 0;
			}
		}


		.opacity-half {
			opacity: 0.3;
			background: rgba(26, 187, 156, 0.4);
		}

		.question-wrapper {
			position: relative;
			margin-bottom: 20px;
		}

		.question-wrapper:last-child {
			/*margin-bottom: 0;*/
		}

		.question-overlay {
			overflow-x: visible;
			cursor: pointer;
			opacity: 0;
			/*background-color: transparent;*/
			transition: background-color 100ms linear, opacity 100ms linear;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 10;
			/*pointer-events: all;*/
			outline: #4b82d6 dashed 2px;
			background-color: rgba(255, 255, 255, 0.5);
		}

		.question-overlay .add-icon {
			font-size: 20px;
			line-height: 20px;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			background: white;
			color: #4b82d6;

			transition: all 50ms linear;
		}

		.question-overlay:hover {
			/*z-index: 10;*/
		}

		.question-overlay .add-icon:hover {
			font-size: 25px;
			line-height: 25px;
			left: 50%;
			margin-left: -12.5px;
		}

		.question-overlay .add-icon[data-position='before'] {
			top: -10.5px;
		}

		.question-overlay .add-icon[data-position='before']:hover {
			top: -13.5px;
		}

		.question-overlay .add-icon[data-position='after'] {
			bottom: -10.5px;
		}

		.question-overlay .add-icon[data-position='after']:hover {
			bottom: -13.5px;
		}

		.question-wrapper:hover > .question-overlay {
			/* display: block; */
			opacity: 1;
		}

		.question-wrapper:hover .question-toolbox {
			display: block;
		}

		.question-wrapper .question-toolbox {
			/*display: none;*/
			position: absolute;
			right: 0;
			top: 0;
			/*z-index: 5;*/
			font-size: large;
			background: #00aeef;
			/*padding: 0.2em;*/
		}

		.question-toolbox > div {
			margin: 0;
			display: inline-block;
			padding: 0.3em;
			font-size: large;
			color: white;
			transition: all 100ms ease-in-out;
		}

		.question-toolbox > div:hover {
			background: #4b82d6;
			cursor: pointer;
		}


		.question {
			padding-top: 1em;
			padding-bottom: 1em;
			padding-right: 10px;
			outline-offset: 2px;
			z-index: auto;
		}

		.question.active-question {
			z-index: 100;
		}

		.question-move-placeholder {
			font-size: 16px;
			line-height: 1;
			position: relative;
			height: 32px;
			background: rgba(255, 0, 0, 0.25);
		}

		.question-move-placeholder:after {
			position: absolute;
			width: 200px;
			top: 8px;
			left: 50%;
			margin-left: -50px;
			content: 'Переместить сюда';
		}

		.question-copy-placeholder {
			font-size: 16px;
			line-height: 1;
			position: relative;
			height: 32px;
			background: rgba(255, 0, 0, 0.25);
		}

		.question-copy-placeholder:after {
			position: absolute;
			width: 200px;
			top: 8px;
			left: 50%;
			margin-left: -50px;
			content: 'Копировать сюда';
		}

		.question-title {
			font-weight: bold;
		}

		.question[data-required='true'] .question-label:after {
			content: '*';
		}

		.question-answer-option input {
			transition: all 0.2s linear;
		}

		.question-answer-option input.custom-answer:disabled {
			color: rgba(145, 146, 153, 0.76);
		}

	</style>
	<style> /*Для select*/
	/*Не могу оставить в SelectAnswers, т.к. тогда в AddQuestionModal не будет этих стилей*/
	.question-answer-option--wrapper {
		position: relative;
		padding-bottom: 1em;
	}

	.question-answer-option--wrapper > .move-handle {
		display: block;
		position: absolute;
		right: 0.4em;
		top: 0.2em;

		height: 26px;
		width: 26px;

		color: black;

	}

	.question-answer-option {
		background: #f8f8f8;
		padding: 10px 5px 10px;
		color: #383838;
		font-size: 1.5em;
		box-sizing: border-box;
		border: 1px solid hsla(0, 0%, 90%, .36);
		border-radius: 4px;
		box-shadow: 1px 2px 1px 0 rgba(0, 1, 1, .07);
	}

	/*.question-answer-option--placeholder {
          outline: rgba(75, 130, 214, 0.68) solid 1px;
          height: 4em;
          margin-bottom: 1em;
      }*/

	.question-answer-option > label {
		font-weight: 400;
	}

	.question-answer-option:not(.custom-answer):hover {
		outline: rgba(75, 130, 214, 0.68) solid 1px;
		cursor: move;
	}

	.question-answer-option .custom-answer {
		border-radius: 4px;
		border-style: none;
		padding-left: 5px;
		padding-right: 5px;
	}

	.question-answer-option input[type='text'] {
		background: transparent;
		border: 0;
	}

	</style>
	<script src="/js/html5sortable.js"></script>

	<div class="questions sortable"><!--questions list-->
		{{#each question in questions}}
			<div class="question-wrapper">
				<div class="question-overlay open-settings">
					<div class="add-question add-icon" data-position="before"><i class="fa fa-plus-circle" aria-hidden="true"></i>
					</div>
					<div class="add-question add-icon" data-position="after"><i class="fa fa-plus-circle" aria-hidden="true"></i>
					</div>
					<div class="question-toolbox">
						<div title="Переместить" style="height: 100%" class="move-handle"><i class="fa fa-arrows"
																																								 aria-hidden="true"></i></div>
						<div title="Удалить" style="height: 100%" class="question-delete delete-button btn-danger"><i
										class="fa fa-trash-o"
										aria-hidden="true"></i></div>
					</div>
				</div>

				<div class="question" id="question-{{surveyId}}-{{question._id}}" data-question-id="{{question._id}}"
						 data-required="{{isRequired question}}"
						 data-multiple="{{isMultiple question}}"
						 data-questiontype="{{questionType question}}">

					<div class="form-group">
						<label class="control-label question-label col-md-3 col-sm-3 col-xs-12">Вопрос (ответили: {{getPercent
										question.answered surveyAnswered}}%): </label>
						<div class="col-xs-12 col-sm-9">
							<input type="text" class="form-control question-title question-field" data-name="title"
										 value="{{question.title}}">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Баллов за вопрос: </label>
						<div class="col-xs-12 col-sm-9">
							<input type="number" class="form-control question-field" data-name="points"
										 value="{{number question.points}}" min="0" max="100">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Описание: </label>
						<div class="col-xs-12 col-sm-9">
							<textarea rows="3" class="form-control question-field" data-name="description"
							>{{question.description}}</textarea>
						</div>
					</div>

					{{#if isMultiplePossible question}} <!--Для теста он всегда обязателен-->
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Несколько ответов </label>
							<label class="ios7-switch col-md-1" style="font-size: 2em">
								<input type="checkbox" id="{{_id}}" data-name="multiple" {{multipleChecked question}}
											 class="primary question-field">
								<span></span>
							</label>
						</div>
					{{/if}}


					{{#if $eq question.type "select"}} <!--Вдруг будут другие типы вопроса-->
						{{> TestSelectAnswers question=question}}
					{{/if}}
				</div>

			</div>
		{{/each}}
	</div>

	<div class="row {{#if questions }}hidden{{/if}}">
		<div class="push-question btn btn-default center-block">+ Добавить вопрос</div>
	</div>


	<div id="questionsListOverlay" class="close-settings block-overlay visuallyAndPointerHidden"></div>


	{{> TestAddQuestionModal}}

</template>

