<template name="enrollmentsListByUser">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Зачисления по пользователю</h3>
			</div>

		</div>

		<!--<div class="clearfix"></div>-->

		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
							<table class="table table-striped table-bordered ">
								<thead>
								<tr>
									<th>Пользователь</th>
									<th>Время получения</th>
									<th>Очков</th>
									<th>По акции</th>
								</tr>
								</thead>

								<tbody>
								{{#each enrollments}}
									<tr>
										<td><a href="{{pathFor 'enrollmentsListByUser' id=user}}"><u>{{userName user}}</u></a></td>
										<td>{{created _createdAt}}</td>
										<td>{{points}}</td>
										<td><a href="{{pathFor 'enrollmentsListByAction' id=content}}"><u>{{actionName content}}</u></a></td>
									</tr>
								{{/each}}
								</tbody>
							</table>

						</div>
						<!-- end project-detail sidebar -->

					</div>
				</div>
			</div>
		</div>
	</div>

</template>